@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap');

body {
    margin: 0;
    background-color: rgb(171, 171, 171);
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 100vh;
    color: #fff;
    text-align: center;
    font-family: "Google Sans Code", monospace;
    background-image: url("assets/other/wall.png");
    background-size: 10%;
    background-repeat: repeat;
    image-rendering: pixelated;
}

h1 {
    padding: 10px;
}

#canvas {
    background-image: url("assets/other/background1.png");
    background-size: 10%;
    background-repeat: repeat;
    border: 5px solid black;
    image-rendering: pixelated;
    width: 100vw;
    height: 100vh;
}
div {
    top: 10px;
}

